<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.airsense">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/applauncherlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/applauncherlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".RegistrationSuccessMessage"></activity>
        <activity android:name=".NewsActivity" />
        <activity android:name=".activities.AQI" />
        <activity android:name=".activities.AirQuality" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".authenticators.SignUpActivity" />
        <activity android:name=".authenticators.PhoneVerificationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".OnBoardingActivity" />
        <activity android:name=".authenticators.LoginActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetPasswordSuccessMessage" />
        <activity android:name=".SetNewPassword" />
        <activity android:name=".MakeSelection" />
        <activity android:name=".resetpassword" />
        <activity android:name=".MainActivityside" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".IntroActivityLayout" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.MapActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoStatusBar"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".activities.GraphActivity"
            android:label="@string/action_graphs"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="UnusedAttribute" /> <!-- Receivers -->
        <receiver
            android:name=".widgets.ExtensiveWidgetProvider"
            android:label="@string/widget_label_extensive">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/extensive_widget" />
        </receiver>
        <receiver
            android:name=".widgets.TimeWidgetProvider"
            android:label="@string/widget_label_time">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget" />
        </receiver>
        <receiver
            android:name=".widgets.SimpleWidgetProvider"
            android:label="@string/widget_label_simple">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget" />
        </receiver>
        <receiver
            android:name=".widgets.ClassicTimeWidgetProvider"
            android:label="@string/widget_label_classic">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget_classic" />
        </receiver>
        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver> <!-- Services -->
        <service
            android:name=".notifications.WeatherNotificationService"
            android:description="@string/notification_service_description"
            android:exported="false" /> <!-- Providers -->
        <provider
            android:name=".utils.StubContentProvider"
            android:authorities="cz.martykan.forecastie.authority1"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>